# =========================
# .NET / C#
# =========================
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
.vs/

# =========================
# Node.js / Next.js
# =========================
node_modules/
.next/
out/
.env
.env.*
!.env.example
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

# =========================
# IDE
# =========================
.idea/
.vscode/
*.swp
*.swo

# =========================
# OS
# =========================
Thumbs.db
.DS_Store
